<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="toppage.css">
    <title>Camp Site</title>
  </head>
  <body>
   <div class = "search-top">
     <div class= "search-center">
      <%= search_form_for @q, url: campsites_category_path do |f| %> 
      <%= f.collection_select :status_id_eq, Status.where.not(id: 0), :id, :name, include_blank: "カテゴリー検索" %>
      <%= f.submit '検索', class: "search" %>
      <% end %>
      </div>
      <%= form_with(url: search_campsites_path,local: true, method: :get, class: "search-second") do |form| %> 
      <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
      <%= form.submit "検索", class: "search" %>
      <% end %>
    </div>

    <div class="contents">
      <div class="first-view">
        <%= image_tag  "トップページイラスト.png", alt: "トップ画面", class: "top-image" %>
      </div>
      <%# 商品一覧 %>
   
      
  <div class='item-contents'>
    <h1 class='title'>キャンプ場一覧</h1>
    <ul class='item-lists'>
      <% @campsites.each do |campsite| %>
      <li class='list'>
        <%= link_to   campsite_path(campsite.id), method: :get do %> 
        <div class='item-img-content'>
         <%= image_tag campsite.image, class: "item-img" if campsite.image.attached? %>
         <ul class="more_list">
        </div>
        <%end%>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "⭐️SITE NAME"  %><br>
            <%= campsite.name  %><br><br>
            <%="⭐️サイト情報" %><br>
            <%= "都道府県: #{campsite.prefecture.name}" %><br>
            <%= "場内設備:" %>
            <br><%= campsite.genre.name %> <br>
             <%= "施設タイプ: #{campsite.status.name}" %><br><br>
            <%= "サイト紹介: #{campsite.text}" %> 
          </h3>
          <%end %>
          <div class='item-price'>
            <span><%= %><br><br><%= %></span> 
            <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %> 
              <span class='star-count'></span>
            </div>
          </div>
        </div>
    </ul>
  </div>

      <div class="bottom-content">
        <form class="contact-form">
          <h2 class="heading-name">メールで予約</h2>
          <input type="text" placeholder="name" class="small-field">
          <input type="text" placeholder="e-mail" class="small-field">
          <textarea placeholder="message" class="large-field"></textarea>
          <input type="submit" value="SEND" class="send">
        </form>
      </div>
    </div>
  </body>
</html>