<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="toppage.css">
    <title>Camp Site</title>
  </head>
  <body>
    <header>
    
    </header>

    <div class="contents">
      <div class="first-view">
        <%= image_tag  "富士山.jpg", alt: "トップ画面", class: "top-image" %>
      </div>
      <%# 商品一覧 %>
  <div class='item-contents'>
    <h1 class='title'>キャンプ場一覧</h1>
    <ul class='item-lists'>
      <% @campsites.each do |campsite| %>
      <li class='list'>
        <%# <%= link_to   item_path(item.id)  %> 
        <div class='item-img-content'>
         <%= image_tag campsite.image, class: "item-img" if campsite.image.attached? %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= campsite.name %><br>
            <%= campsite.text %>
          </h3>
          <%end %>
          <div class='item-price'>
            <span><%= %><br><br><%= %></span> 
            <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %> 
              <span class='star-count'></span>
            </div>
          </div>
        </div>
    </ul>
  </div>

      <div class="bottom-content">
        <form class="contact-form">
          <h2 class="heading-name">メールで予約</h2>
          <input type="text" placeholder="name" class="small-field">
          <input type="text" placeholder="e-mail" class="small-field">
          <textarea placeholder="message" class="large-field"></textarea>
          <input type="submit" value="SEND" class="send">
        </form>
      </div>
    </div>
  </body>
</html>