<div class="contents row">
  <div class="container">
    <h3>シェアする</h3>
    <%= form_with(model: @campsite, local: true) do |f| %>
    <div class="img-upload">
      <div class="weight-bold-text">
        <span class="indispensable">画像を選択してください</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
       <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "都道府県"}, {class:"genre-select"}) %><br>
       <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank:"場内設備"}, {class:"genre-select"}) %>
       <%= f.collection_select(:status_id,  Status.all, :id, :name, {include_blank: "施設タイプ"}, {class:"genre-select"}) %>
       <%= f.text_field :name, placeholder: "キャンプ場名" %>
       <%= f.text_area :text, placeholder: "説明", rows: "10" %>
       <%= f.submit "send" %>
    <% end %>
  </div>
</div>