
   <div class='item-contents'>
    <ul class='item-lists'>
     <% @campsites.each do |campsite| %>
      <li class='list'>
          <%= link_to   campsite_path(campsite.id), method: :get do %> 
      <div class='item-img-content'>
          <%= image_tag campsite.image, class: "item-img" if campsite.image.attached? %>
      <ul class="more_list">
      </div>
        <%end%>
        <div class='item-info'>
           <i class="fas fa-camera"></i>
            <%= "SITE NAME"  %><br>
            <%= campsite.name  %><br><br>
            <i class="fab fa-apple"></i>
            <%="サイト情報" %><br>
            <i class="fas fa-beer"></i>
            <%= "都道府県: #{campsite.prefecture.name}" %><br>
            <i class="fas fa-beer"></i>
            <%= "場内設備:" %>
            <br><%= campsite.genre.name %> <br>
            <i class="fas fa-beer"></i>
             <%= "施設タイプ:" %> 
             <br><%= campsite.status.name %><br><br>
             <i class="fas fa-beer"></i>
            <%= "サイト紹介: #{campsite.text}" %> 
          </h3>
          <%end %>