<div class="contents row">
  <div class="content_post" >
    <div class="more">
   <%= image_tag @campsite.image %>
      <ul class="more_list">
        <li>
          <%# <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %> %>
        </li>
        <li>
          <%# <%= link_to '削除', tweet_path(@tweet.id), method: :delete %> %>
        </li>
      </ul>
    </div>
    <p><%= @campsite.text %></p>
    <span class="name"><%= @campsite.name %>
    </span>
  </div>
</div>