<div class="contents row">
  <%# <div class="content_post" > %>
    <div class="more">
   <%= image_tag @campsite.image.variant(resize: '400x500') %>
      <ul class="more_list">
     <% if user_signed_in? && current_user.id == @campsite.user_id %>
        <li>
          <%= link_to '編集', edit_campsite_path(@campsite.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', campsite_path(@campsite.id), method: :delete %> 
        </li>
        <%end%>
      </ul>
    </div>
   <div class='item-info'>
          <h3 class='item-name'>
       <i class="fas fa-camera"></i>
            <%= "SITE NAME"  %><br>
            <%= @campsite.name  %><br><br>
            <i class="fab fa-apple"></i>
            <%="サイト情報" %><br>
            <i class="fas fa-beer"></i>
            <%= "都道府県: #{@campsite.prefecture.name}" %><br>
            <i class="fas fa-beer"></i>
            <%= "場内設備:" %>
            <br><%= @campsite.genre.name %> <br>
            <i class="fas fa-beer"></i>
             <%= "施設タイプ:" %> 
             <br><%= @campsite.status.name %><br><br>
             <i class="fas fa-beer"></i>
            <%= "サイト紹介: #{@campsite.text}" %> 
            <br><br>

            <div id ="campsite_<%= @campsite.id %>">
             <%= render 'post', campsite: @campsite %>
             </div>
             <%= render 'reviews/form', review: @review, campsite: @campsite %>
   </div>
            <div class="container">
            <% if current_user %>
             <%= form_with(model: [@campsite, @comment], local: true) do |f| %>
             <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
             <%= f.submit "コメントする" %>
             <% end %>
             <% else %>
            <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
           <% end %>

          <div class="comments">
         <h4><コメント一覧></h4>
         <% if @comments %>
           <% @comments.each do |comment| %>
           <%= ":#{comment.user.nickname}" %>
            <p><%= comment.text %></p>
          <% end %> 
            <% end %>
         </div>


    

          
    
    